<footer>
    <nav aria-label="App navigation" class="app-menu-container">
        <a routerLink="/app/feed" [class]="activeTab === 1 ? 'link active' : 'link'">
            <em class="pi pi-home link-logo"></em>
        </a>
        <a routerLink="/app/diary" [class]="activeTab === 2 ? 'link active' : 'link'">
            <em class="pi pi-book link-logo"></em>
        </a>
        <a routerLink="/app/friends" [class]="activeTab === 3 ? 'link active' : 'link'">
            <em class="pi pi-users link-logo"></em>
        </a>
    </nav>
</footer>