<div class="pageContainer">
    <section class="leftContainer">
        <div class="titleContainer">
            <h1 class="title">My Daily Diary</h1>
            <p class="comment">Write your thoughts, ideas and acnedotes of the day, then share them with your friends!</p>
        </div>
        <p class="mention">Built by <a class="portfolioLink" href="https://www.asparton.com/" target="_blank" rel="noopener">Alexandre Sparton</a></p>
    </section>
    <login-register class="w-full"></login-register>
</div>