<section class="registrationContainer">
  <h2 class="title">Register</h2>

  <form class="form">
    <div class="fieldContainer">
      <label for="usernameInput" class="label">
        Username
        <em pBadge class="mb-4 ml-4" value="i" pTooltip="This will be used to identify your account and add friends" tooltipPosition="top"></em>
      </label>
      <input type="text" id="usernameInput" pInputText required minlength="3" maxlength="35"
             #usernameInput (change)="onUsernameChange(usernameInput.value)" />
      <small *ngIf="!usernameAvailable" class="formError">This username is already in use</small>
      <small *ngIf="invalidUsername" class="formError">
        Your username must contain:<br />
        • Between 3 and 8 characters<br />
        • Chracters allowed: Letters, number, '-' and '_'
      </small>
    </div>
    
    <div class="fieldContainer">
      <label for="emailInput" class="label">Email</label>
      <input type="text" id="emailInput" pInputText required maxlength="50"
             #emailInput (change)="onEmailChange(emailInput.value)" />
      <small *ngIf="invalidEmail" class="formError">The email is invalid</small>
      <small *ngIf="!emailAvailable" class="formError">The email is already in use</small>
    </div>

    <div class="fieldContainer">
      <label for="passwordInput" class="label">Password</label>
      <input type="password" id="passwordInput" pPassword [feedback]="false" required minlength="8" maxlength="100"
             #pswdInput (change)="onPasswordChange(pswdInput.value)" />
      <small *ngIf="invalidPassword" class="formError">
        Your password must contain:<br />
        • 8 characters<br />
        • 1 uppercase letter<br />
        • 1 lowercase letter<br />
        • 1 number<br />
        • 1 special character
      </small>
    </div>

    <div class="fieldContainer">
        <label for="confirmPasswordInput" class="label">Confirm password</label>
        <input type="password" id="confirmPasswordInput" pPassword [feedback]="false" required maxlength="100"
               #confirmPswdInput (input)="onConfirmPasswordChange(confirmPswdInput.value)" />
        <small *ngIf="passwordsDifferent" class="formError">The two passwords must be the same</small>
    </div>

    <button type="submit" label="Register" pButton class="submitBtn" [disabled]="!formIsValid()" (click)="onSubmit()"></button>
  </form>

  <a routerLink="/login" class="loginLink">You already have an account? Log in here</a>
</section>